server:
  port: 8083
spring:
  ai:
    openai:
      base-url: https://api.deepseek.com
      api-key: api-key
      chat:
        options:
          model: deepseek-chat
          temperature: 0.7
          max-tokens: 500
